.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.content {
    padding: 0px 50px 50px 50px;
    flex-grow: 1;
    background-color: #eaeef5;
}

h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
}

.tableWrapper {
    /* overflow-x: auto; */
    max-width: 100%; /* 90% */
    background-color: #ffffff;
    padding: 10px 0 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-x:auto;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.searchBar {
    width: 250px;

}

.searchBar input {
    width: 250px !important;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.iconButtons {
    display: flex;
    gap: 10px;
    margin-right:20px;
}

.iconButton {
    width: 55px;
    height: 38px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #198754;
    background-size: cover;
    border-style:hidden;
    transition: background-color 0.3s ease;
}

.iconButton img {
    max-height: 60%;
}

.iconButton:hover {
    background-color: #126840;
}

.iconButton.disabled {
    background-color: rgba(128, 128, 128, 0.247);
    pointer-events: none;
    cursor: not-allowed;

}

table {
    display: block;
    overflow-x: scroll;
    border-collapse: collapse;
    margin-top: 20px;
    min-width: 600px; 
    max-width: 1750px;
    height:100%;
    max-height: 700px;
    overflow-y: scroll;
}

th, td {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
}

th {
    font-weight: bold;
}

tr {
    transition: background-color 0.25s ease;
}
tbody tr:hover {
    background-color: #f5f5f5;
    cursor:pointer;
}

.loading {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
    font-weight: bold;
}

thead {
    position:sticky;
    top:0;
    background-color: #e0e0e0;
}

.checkedRow{
    background-color: rgba(4, 128, 0, 0.274);
}

.checkedRow:hover{
    background-color: rgba(4, 128, 0, 0.315);
}

