.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    background-color: #146C43;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 70px;
    height: 100%;
}

.menu div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 65px; 
    border-bottom: 1.5px solid #fff; 
    color: #fff;
    background-color: #198754;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.menu div:hover {
    background-color: #147447;
}

.menu div:first-child {
    border-top: 1.5px solid #54864c7c; 
}

.icon {
    font-size: 24px;
}

.lastItem {
    border-top: 1.5px solid #fff; 
    margin-top: auto;
}

/* .homeIcon {
    background: url("/img/icons/home.png");
} */





