  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: #FFFFFF;
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    width: 600px;
    max-width: 90%;
    position: relative;
  }

  .headers {
    display: flex;
    direction: row;
    justify-content: space-between;
    line-height: 1px;
    margin-bottom: 8px;
  }

  .headers > :nth-child(2) {
    color: #198754;
  }

  .required::after {
    content: ' *';
    color: #D67171;
  }

  .lightText {
    font-weight: lighter;
  }
  
  .boldText {
    font-weight: bold;
  }
  
  
  h2 {
    font-size: 32px;
    white-space: nowrap; 
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    margin-bottom: 15px;
    margin-top: 10px;
  }

  div.formGroup2 {
    margin-top: auto;
    margin-bottom: 15px;
  }

  .formRow {
    display: flex;
    gap: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .inputText, select {
    width: 126px; 
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #A3B1CC;
    border-radius: 7px;
    text-align: center;
  }

  .inputText2 {
    width: 100%; 
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #A3B1CC;
    border-radius: 7px;
  }

  
  .formButtons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
  }
  
  .cancelButton {
    background-color: #FFFFFF;
    color: #9B9B9B;
    font-weight: bold;
    outline: 1px solid #A3B1CC;
  }
  
  .saveButton {
    background-color: #198754;
    color: #fff;
    margin-left: 10px;
    font-weight: bold;
  }

  .radioGroup {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .radioGroup input[type="radio"] {
    margin-right: 5px;
  }

  .radioGroup label {
    font-weight: normal; 
  }

  .radioContainer {
    display: flex;
    align-items: center;
    gap: 20px;
  }


